# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# C++
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# IDE
.vscode/
.idea/
*.swp
*.swo

# ESPHome
.esphome/
.pio/
.pioenvs/
.piolibdeps/
secrets.yaml
/config/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Misc
*.log
.env
